spring:
  application:
    name: advance
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        default_batch_fetch_size: 100
    show-sql: true
    defer-datasource-initialization: true

---
jwt:
  secret:
    key: qweasdzxcqweasdzxcrtyfghvbnrtyfghvbnrtyfghvbnqweasdzxcqweqweqweqweqweqweqwewqeqweqwewq